# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
node_modules
.pnp
.pnp.js

# Local env files
.env
.env.*
.env.local
.env.development.local
.env.test.local
.env.production.local
env.ts

# Testing
coverage

# Turbo
.turbo

# Vercel
.vercel

# Build Outputs
.next/
out/
build
dist
pertentoRuntime*


# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Misc
.DS_Store
*.pem

bun.lockb

workspaces/sepal-client/public/pertentoRuntime*
workspaces/sepal-client/public/theEditor/
workspaces/dashboard/public/pertentoRuntime*
workspaces/dashboard/public/theEditor/

.dist
editor-app.css
editor-app.js
editor-runtime.js
pertento-extension.zip

stats.html

public/user-avatars